.logo{
    height: 90px;
    width: 150px;
      

}
.navbar {
    padding: 20px  0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: black;
    font-size: 18px;
   

}
.navbar-right {
    display:flex ;
    align-items: center;
    gap: 30px;
}

.navbar button{
    background-color: transparent;
    font-size: 16px;
    color: #CC292Cff;
    border: 1px solid #CC292Cff;
    padding: 10px 30px;
    border-radius: 50px ;
    cursor: pointer;
    transition: 0.3s;
}
.navbar button:hover{
    background-color: #CC292Cff;
    color: black;
    border: 1px solid black;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #CC292Cff;

}
.navbar li{
    cursor: pointer;
}
.navbar-search-icon {
    position: relative;
}
.navbar-search-icon .dot{
    position:absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: rgba(204, 41, 44, 0.62);
    border-radius: 5px;
    top: -8px;
    right:-8px;
}
.navbar-profile{
    position: relative;
}
.navbar-profile img{
    width: 20px;
    height: 20px;
}
.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;

}
.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid rgba(204, 41, 44, 0.33);
    outline: 2px solid white;
    list-style: none;
}
.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}
.nav-profile-dropdown img{
    width: 20px;
}
.nav-profile-dropdown li:hover{
    color:#CC292Cff; 
}

@media (max-width:1050px) {
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .nav-right button{
        padding: 8px 25px;

    }
    
}
@media (max-width:900px) {
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .nav-right button{
        padding: 7px 20px;
        font-size: 15px;

    }
    
}
@media (max-width:750px) {
    
    .navbar-menu{
       display: none;
    }
}
.input-wrapper input {
    width: 100%;
    margin-left: 7px; 
    font-size: 12px;
    color: rgba(128, 128, 128, 0.829);
    border: none;
    background-color: transparent;
    
}
.input-wrapper input:focus{
    outline: none;
}
.input-wrapper {
    display: flex;
    align-items: center;
    
} 
#search-icon{
    cursor: pointer;
}

