
.search-container {
    position: relative;
} 

/* Style de la liste des résultats */
.results-list {
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 5px;
    max-height: 100px;
    overflow-y: scroll;
    z-index: 2; 
}
.results-list div:hover {
    background-color: #f0f0f0;
}